mixin applicants()
	.applicants#applicants
		.wrapper.wrapper-bg
			.applicants__rounds
			.applicants__circle
			.applicants__flourish
			.applicants__title.title Applicants
			.applicants__row
				-for(var i=1;i<4;i++)
					.applicants__photo
						img(src="images/applicants"+i+".jpg" alt="")
			.applicants__row.applicants__row--center
				.applicants__photo
					img(src="images/applicants4.jpg" alt="")
				.applicants__photo
					img(src="images/applicants5.jpg" alt="")
	.slider-applicants
		.wrapper.wrapper-bg#applicants-sm
			.slider__title.title Applicants
			.applicants__rounds
			.slider__address 5811 Valley Oak Dr, Los Angeles, CA 90068
			#carousel-example-generic-1.carousel.slide(data-ride="carousel")
				//- Indicators
				ol.carousel-indicators.carousel-indicators--black
					li.active(data-target="#carousel-example-generic-1", data-slide-to="0")
					li(data-target="#carousel-example-generic-1", data-slide-to="1")
					li(data-target="#carousel-example-generic-1", data-slide-to="2")

				//- Wrapper for slides
				.carousel-inner(role="listbox")
					.item.active
						img(src="./images/applicants1.jpg", alt="Photo")
					.item
						img(src="./images/applicants2.jpg", alt="Photo")
					.item
						img(src="./images/applicants3.jpg", alt="Photo")
