mixin teachers
	.teachers#teachers
		.wrapper.wrapper-bg
			.teachers__title.title Teachers
			.teachers__row
				-for(var i=1;i<4;i++)
					.teachers-item
						.teachers-item__inner
							.teachers-item__image
								img(src="images/teacher"+i+".jpg" alt="", srcset="images/teacher"+i+"@2x.jpg 2x")
							.teachers-item__info
								.teachers-item__title John Smith
								.teachers-item__text
									p Freepik Selection are all the exclusive content designed by our team. Additionally, if you are subscribed to our Premium account, when using this vector, you can avoid crediting the image to Freepik. Freepik Selection are all the exclusive content designed by our team. Additionally, if you are subscribed to our Premium account, when using this vector, you can avoid crediting the image to Freepik.
	.slider-teachers
		.wrapper.wrapper-bg#teachers-sm
			.slider__title.title Teachers
			#carousel-example-generic-4.carousel.slide(data-ride="carousel")
				//- Indicators
				ol.carousel-indicators.carousel-indicators--black
					li.active(data-target="#carousel-example-generic-4", data-slide-to="0")
					li(data-target="#carousel-example-generic-4", data-slide-to="1")
					li(data-target="#carousel-example-generic-4", data-slide-to="2")

				//- Wrapper for slides
				.carousel-inner(role="listbox")
					.item.active
						img(src="./images/tsm1.png", alt="Photo")
						.teachers-item__info
							.teachers-item__title John Smith
							.teachers-item__text
								p Freepik Selection are all the exclusive content designed by our team. Additionally, if you are subscribed to our Premium account, when using this vector, you can avoid crediting the image to Freepik. Freepik Selection are all the exclusive content designed by our team. Additionally, if you are subscribed to our Premium account, when using this vector, you can avoid crediting the image to Freepik.

					.item
						img(src="./images/tsm2.png", alt="Photo")
						.teachers-item__info
							.teachers-item__title John Smith
							.teachers-item__text
								p Freepik Selection are all the exclusive content designed by our team. Additionally, if you are subscribed to our Premium account, when using this vector, you can avoid crediting the image to Freepik. Freepik Selection are all the exclusive content designed by our team. Additionally, if you are subscribed to our Premium account, when using this vector, you can avoid crediting the image to Freepik.

					.item
						img(src="./images/tsm3.png", alt="Photo")
						.teachers-item__info
							.teachers-item__title John Smith
							.teachers-item__text
								p Freepik Selection are all the exclusive content designed by our team. Additionally, if you are subscribed to our Premium account, when using this vector, you can avoid crediting the image to Freepik. Freepik Selection are all the exclusive content designed by our team. Additionally, if you are subscribed to our Premium account, when using this vector, you can avoid crediting the image to Freepik.
