mixin who-should
	.who-should
		.wrapper.wrapper-bg
			.who-should__col.who-should__col--first
				.who-should-info
					.who-should-info__title Who should apply?
					.who-should-info__text
						p Singers & songwriters, Composers & sound engineers, DJs & producers, Drummers, Pianists, Woodwinds, String instruments, Bands, Duets

			.who-should__col.who-should__col--second
				.who-should-offer
					.who-should-offer__title isina 2017
					.who-should-offer__subtitle october 10 – november 17
					.who-should-offer__text Don’t dilly daddle!<br> Upload your track before it’s started
					a(href="#" title="").who-should-offer__button.button get started