doctype
html
	include blocks/head
	include blocks/top-banner
	include blocks/menu
	include blocks/your-career
	include blocks/who-should
	include blocks/applicants
	include blocks/teachers
	include blocks/bg-video
	include blocks/social
	include blocks/footer

	+head
	body
		+top-banner
		+menu
		+your-career
		+who-should
		+applicants
		+teachers
		+bg-video
		.slider
			.wrapper.wrapper-bg#house
				.slider__title.title House
				#carousel-example-generic.carousel.slide(data-ride="carousel")
					//- Indicators
					ol.carousel-indicators
						li.active(data-target="#carousel-example-generic", data-slide-to="0")
						li(data-target="#carousel-example-generic", data-slide-to="1")
						li(data-target="#carousel-example-generic", data-slide-to="2")

					//- Wrapper for slides
					.carousel-inner(role="listbox")
						.item.active
							img(src="./images/image-1.jpg", srcset="./images/image-1@2x.jpg 2x", alt="Photo")
						.item
							img(src="./images/image-2.jpg", srcset="./images/image-2@2x.jpg 2x", alt="Photo")
						.item
							img(src="./images/image-3.jpg", srcset="./images/image-3@2x.jpg 2x", alt="Photo")
					//- Controls
					a.left.carousel-control(href="#carousel-example-generic", role="button", data-slide="prev")
						img.icon-carousel(src="./images/arrow-carousel-left.png")
					a.right.carousel-control(href="#carousel-example-generic", role="button", data-slide="next")
						img.icon-carousel(src="./images/arrow-carousel-right.png")

		.slider
			.wrapper.wrapper-bg#studios
				.slider__title.title Studios
				.slider__address 5811 Valley Oak Dr, Los Angeles, CA 90068
				#carousel-example-generic-3.carousel.slide(data-ride="carousel")
					//- Indicators
					ol.carousel-indicators
						li.active(data-target="#carousel-example-generic-3", data-slide-to="0")
						li(data-target="#carousel-example-generic-3", data-slide-to="1")
						li(data-target="#carousel-example-generic-3", data-slide-to="2")

					//- Wrapper for slides
					.carousel-inner(role="listbox")
						.item.active
							img(src="./images/image-1.jpg", srcset="./images/image-1@2x.jpg 2x", alt="Photo")
						.item
							img(src="./images/image-2.jpg", srcset="./images/image-2@2x.jpg 2x", alt="Photo")
						.item
							img(src="./images/image-3.jpg", srcset="./images/image-3@2x.jpg 2x", alt="Photo")
					//- Controls
					a.left.carousel-control(href="#carousel-example-generic-3", role="button", data-slide="prev")
						img.icon-carousel(src="./images/arrow-carousel-left.png")
					a.right.carousel-control(href="#carousel-example-generic-3", role="button", data-slide="next")
						img.icon-carousel(src="./images/arrow-carousel-right.png")

		.slider
			.wrapper.wrapper-bg#concerts
				.slider__title.title Concerts
				#carousel-example-generic-2.carousel.slide(data-ride="carousel")
					//- Indicators
					ol.carousel-indicators
						li.active(data-target="#carousel-example-generic-2", data-slide-to="0")
						li(data-target="#carousel-example-generic-2", data-slide-to="1")
						li(data-target="#carousel-example-generic-2", data-slide-to="2")

					//- Wrapper for slides
					.carousel-inner(role="listbox")
						.item.active
							img(src="./images/image-1.jpg", srcset="./images/image-1@2x.jpg 2x", alt="Photo")
							.carousel-caption.carousel-caption--custom
								.carousel-caption__time 09.30.17 / 9:30 PM
								.carousel-caption__name Raisa Kovacki
								.carousel-caption__desc El Rey Theatre <br> 5515 Wilshire Blvd, Los Angeles, CA 90036
						.item
							img(src="./images/image-2.jpg", srcset="./images/image-2@2x.jpg 2x", alt="Photo")
							.carousel-caption.carousel-caption--custom
								.carousel-caption__time 09.30.17 / 9:30 PM
								.carousel-caption__name Raisa Kovacki
								.carousel-caption__desc El Rey Theatre <br> 5515 Wilshire Blvd, Los Angeles, CA 90036
						.item
							img(src="./images/image-3.jpg", srcset="./images/image-3@2x.jpg 2x", alt="Photo")
							.carousel-caption.carousel-caption--custom
								.carousel-caption__time 09.30.17 / 9:30 PM
								.carousel-caption__name Raisa Kovacki
								.carousel-caption__desc El Rey Theatre <br> 5515 Wilshire Blvd, Los Angeles, CA 90036
					//- Controls
					a.left.carousel-control(href="#carousel-example-generic-2", role="button", data-slide="prev")
						img.icon-carousel(src="./images/arrow-carousel-left.png")
					a.right.carousel-control(href="#carousel-example-generic-2", role="button", data-slide="next")
						img.icon-carousel(src="./images/arrow-carousel-right.png")
		+footer
				