.slider-applicants {
	display: none;
	position: relative;
	@media screen and (max-width: 480px) {
		display: block;
		padding-top: 35px;
		.carousel .item img {
			max-width: 100%;
			margin: 0 auto;
			height: auto;
		}
	}
	.carousel {
		.item {
			height: 380px;
		}
	}
}

.applicants {
	@media screen and (max-width: 480px) {
		display: none;
	}			
	.wrapper {
		position: relative;
	}
	&__rounds {
		position: absolute;
		top: 42px;
		background: url(../images/rounds.png) no-repeat;
		width: 71px;
		height: 48px;
		@media screen and (min-width: 920px) {
			left: 278px;
		}
		@media screen and (min-width: 481px) and (max-width: 919px) {
			left: 16%;
		}	
		@media screen and (max-width: 480px) {
			right: 0;
			top: 0;
		}		
	}
	&__circle {
		position: absolute;
		left: 73px;
		bottom: 128px;
		background-color: #FF7171;
		width: 22px;
		height: 24px;
		border-radius: 50%;
	}
	&__flourish {
		position: absolute;
		bottom: 145px;
		right: 88px;
		background: url(../images/flourish.svg) no-repeat;
		width: 74px;
		height: 160px;
		@media screen and (max-width: 991px) {
			bottom: 74px;
			right: 34px;
		}	
		@media screen and (max-width: 768px) {
			right: 0;
			bottom: 38px;
		}
		@media screen and (min-width: 481px) and (max-width: 670px)	 {
			bottom: 22px;
		}
	}
	&__title {
		margin-bottom: 32px;
		padding-top: 46px;
	}
	&__row {
		display: flex;
		justify-content: space-between;
		padding-right: 12px;
		padding-left: 12px;
		&--center {
			justify-content: center;
		}
	}
	&__photo {
		width: 33.3%;
		margin-bottom: 22px;
		@media screen and (max-width: 991px) {
			width: 32%;
		}	
		img {
			display: block;
			border-radius: 50%;
			@media screen and (max-width: 991px) {
				max-width: 100%;
				height: auto;
			}
		}
	}
}