html,
body {
	height: 100%;
	color: $black;
	background-color: $white;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	background: url(../images/site-bg.png) 50% 0;
	background-repeat: repeat-y;
	box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
.wrapper {
	max-width: 1024px;
	width: 100%;
	margin: 0 auto;
	@media screen and (max-width: 991px) {
		padding-left: 0;
		padding-right: 0;
	}
}
.wrapper-bg {
	background-color: rgba(249, 249, 249, .5);
}