.footer {
	.wrapper {
		padding-top: 44px;
		padding-bottom: 42px;
	}
	&__title {
		font-size: rem(32);
		text-align: center;
		margin-bottom: 24px;
		padding: 0 20px;
		@media screen and (max-width: 480px) {
			font-size: rem(27);
		}		
	}
	&__bottom {
		text-align: center;
	}
	&__policy {
		width: 320px;
		margin-right: auto;
		margin-left: auto;
		line-height: 24px;
		margin-bottom: 24px;
		font-size: rem(15);
		@media screen and (max-width: 480px) {	
			font-size: rem(13);
			width: 266px;
		}			
	}
	.menu-mobile {
		//width: 100%;
		//height: 100vh;
		//position: fixed;
		//top: 0;
		//background-color: red;
	}
}
.footer-form {
	max-width: 462px;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 78px;
	@media screen and (max-width: 480px) {	
		text-align: center;
	}	
	&__field {
		height: 40px;
		max-width: 320px;
		width: 100%;
		padding-left: 18px;
		@media screen and (max-width: 480px) {		
			margin-bottom: 20px;
			max-width: 90%;
		}	
	}
	&__submit {
		width: 126px;
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
	}
}