.menu {
	&__mobile {
		display: none;
		height: 100vh;
		background: #DB4863;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 9999;
		left: 0;
		right: 0;
		bottom: 0;
		padding: 60px 0;
		.mobile-menu-close-btn {
			position: absolute;
			right: 15px;
			top: 15px;
		}
		.menu__item {
			border: none;
			color: #fff;
			font-size: 2rem;
		}
		@media screen and (max-width: 991px) {
			//display: block;
		}
	}
	&__list {
		display: flex;
		justify-content: flex-start;
		@media screen and (max-width: 991px) {
			display: none;
			position: absolute;
			top: 55px;
			left: 0;
			width: 100%;
			background-color: $white;
    	box-shadow: 0 8px 15px rgba($black,.35);
    	z-index: 1000;		
		}		
	}
	&__item {
		padding: 18px 34px 15px;
		text-transform: uppercase;
		flex: 0 0 auto;
		color: $black;
		letter-spacing: rem(1.3);
		border: 2px solid $black;
		border-right: none;
		flex-grow: 1;
		&:last-child {
			border-right: 2px solid $black;
		}
		@media screen and (min-width: 992px) and (max-width: 1199px) {
			font-size: rem(14);
			padding-left: 5px;
			padding-right: 5px;
			text-align: center;
		}
		@media screen and (max-width: 991px) {
			display: block;
			text-align: center;
			border-bottom: 1px solid #f2f2f2;
			padding: 10px 0 10px;
		}		
		&:hover {
			@media screen and (min-width: 992px) {
				background-color: #DB4863;
				color: $white;
			}
		}
	}
}