.social {
	display: inline-flex;
	justify-content: flex-start;
	&__icon {
		margin-right: 24px;
		width: 32px;
		height: 32px;
		background-repeat: no-repeat;
		&:last-child {
			margin-right: 0;
		}
		&--tw {
			background-image: url(../images/tw-icon.svg);
		}
		&--fb {
			background-image: url(../images/fb-icon.svg);
		}
		&--in {
			background-image: url(../images/in-icon.svg);
		}
	}
}
