
.slider-teachers {
	display: none;
	@media screen and (max-width: 480px) {
		display: block;
		.carousel .item img {
			max-width: 100%;
			margin: 0 auto;
			height: auto;
		}
	}
	.carousel-indicators {
		bottom: -30px;
	}
	.carousel {
		.item {
			height: 100%;
		}
	}
}

.teachers {
	@media screen and (max-width: 480px) {
		display: none;
	}			
	.wrapper {
		padding-top: 21px;
	}
	&__title {
		margin-bottom: 30px;
		padding-top: 20px;
	}
}
.teachers-item {
	width: 97%;
	margin-left: 16px;
	margin-bottom: 16px;
	padding-bottom: 13px;
	border-bottom: 1px solid rgba(#979797, .4);
	&:last-child {
		border-bottom: none;
		margin-bottom: 0;
	}
	&__inner {
		width: 94%;
		display: flex;
		justify-content: space-between;		
	}
	&__image {
		width: 32.8%;
		img {
			display: block;
			@media screen and (max-width: 991px) {
				max-width: 100%;
				height: auto;
			}
			@media screen and (max-width: 480px) {
				width: 160px;
			}
		}
	}
	&__info {
		width: 64%;
		@media screen and (max-width: 480px) {
			width: 100%;
		}
	}
	&__title {
		font-size: rem(28);
		color: #DB4863;
		margin-bottom: 18px;
		@media screen and (max-width: 480px) {
			text-align: center;
			margin: 15px 0;
		}
	}
	&__text {
		font-size: rem(20);
		@media screen and (max-width: 480px) {
			padding: 0 10px;
		}
	}
}