.top-banner {
	background: url(../images/top-banner.png) center no-repeat;
	//@include background-image-retina(top-banner-bg, jpg);
	background-size: cover;
	width: 100%;
	min-height: 586px;
	&__content {
		text-align: center;
		color: $white;
		max-width: 640px;
		width: 100%;
		margin-right: auto;
		margin-left: auto;
	}
	&__title {
		font-size: rem(96);
		margin-bottom: 20px;
		font-family: 'Open Sans', sans-serif;
		@media screen and (max-width: 991px) {
			font-size: rem(68);
		}	
	}
	&__subtitle {
		font-size: rem(20);
		text-transform: uppercase;
		margin-bottom: 30px;
		font-family: 'Open Sans', sans-serif;
		@media screen and (max-width: 991px) {
			font-size: rem(18);
		}			
	}	
	&__text {
		font-size: rem(20);
		font-family: 'Open Sans', sans-serif;
		line-height: 1.8rem;
		@media screen and (max-width: 991px) {
			font-size: rem(16);
		}			
	}		
}
.mobile-menu-btn {
	@media screen and (min-width: 991px) {
		display: none;
	}
}
.top-banner-header {
	padding: 24px 24px 142px;
	display: flex;
	justify-content: space-between;
	&__logo {
		background-image: url(../images/logo.svg);
		background-repeat: no-repeat;
		width: 72px;
		height: 41px;
		@media screen and (max-width: 991px) {
			margin-left: 20px;
			background-image: url(../images/logo-mobile.png);
			width: 47px;
			height: 28px;
		}	
	}
	&__button {
		box-shadow: 0 4px 4px rgba(#000, .25);
		width: 195px;
		padding-left: 40px;
		@media screen and (max-width: 991px) {
			display: none;
		}
		&:before {
			background-image: url(../images/arrow-top.png);
			width: 15px;
			height: 16px;
		}
	}
	&__button-mobile {
		width: 32px;
		height: 32px;
		position: relative;
		&:before {
			content: '';
			@include absolute-center;
			background: url(../images/arrow-top.png) no-repeat;
			width: 15px;
			height: 16px;
		}
		@media screen and (min-width: 991px) {
			display: none;
		}
	}
}
