.who-should {
	.wrapper {
		display: flex;
		justify-content: flex-start;
		@media screen and (max-width: 480px) {
			display: block;
		}
	}	
	&__col {
		width: 60%;
		@media screen and (max-width: 768px) {
			width: 54%;
		}		
		@media screen and (max-width: 480px) {
			width: auto;
		}		
		&--first {
			background-color: #DB4863;
		}
		&--second {
			width: 40%;
			border: 2px solid rgba(#979797, .4);
			border-right: none;
			@media screen and (max-width: 768px) {
				width: 46%;
			}					
			@media screen and (max-width: 480px) {
				width: auto;
				border: none;
			}					
		}
	}
}
.who-should-info {
	padding-top: 60px;
	text-align: center;
	color: $white;
	max-width: 522px;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	@media screen and (max-width: 480px) {
		padding-top: 36px;
		padding-bottom: 10px;
		max-width: 90%;
	}			
	&__title {
		font-size: rem(56);
		margin-bottom: 44px;
		@media screen and (max-width: 480px) {
			font-size: rem(46);
			margin-bottom: 30px;
		}		
	}
	&__text {
		font-size: rem(20);
		padding: 0 10px;
		
	}	
}
.who-should-offer {
	padding-top: 28px;
	text-align: center;
	max-width: 354px;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 20px;
	&__title {
		font-size: rem(36);
		text-transform: uppercase;
		color: #DB4863;
		margin-bottom: 23px;
	}
	&__subtitle {
		font-size: rem(20);
		text-transform: uppercase;
		margin-bottom: 25px;
	}	
	&__text {
		font-size: rem(27);
		margin-bottom: 32px;
		padding: 10px;
	}
	&__button {
		width: 204px;
		font-size: rem(18);
	}
}