.your-career {
	.wrapper {
		display: flex;
		justify-content: flex-start;
		@media screen and (max-width: 550px) {
			display: block;
		}
	}
	&__curve {
		position: absolute;
		right: 50px;
		bottom: -34px;
		background: url(../images/curve.svg) no-repeat;
		width: 140px;
		height: 65px;
		z-index: 99;
		@media screen and (max-width: 991px) {
			transform: translateX(-50%);
			left: 50%;
			bottom: -40px;
		}
	}
	&__col {
		width: 60%;
		@media screen and (max-width: 768px) {
			width: 54%;
		}
		@media screen and (max-width: 550px) {
			width: auto;
		}
		&--first {
			position: relative;
		}
		&--second {
			width: 40%;
			background: url(https://unsplash.it/410/397) no-repeat;
			height: 397px;
			position: relative;
			@media screen and (max-width: 768px) {
				width: 46%;
			}
			@media screen and (min-width: 428px) and (max-width: 550px) {
				margin-right: auto;
				margin-left: auto;
				width: 77%;
				/* height: 308px; */
			}
			@media screen and (max-width: 427px) {
				width: auto;
			}
		}
	}
	&__content {
		max-width: 540px;
		width: 100%;
		margin-left: 46px;
		text-align: center;
		padding-bottom: 20px;
		@media screen and (min-width: 551px) and (max-width: 991px) {
			margin-left: 0;
		}
		@media screen and (max-width: 550px) {
			margin-right: auto;
			margin-left: auto;
			max-width: 300px;
			padding-bottom: 40px;
		}
	}
	&__title {
		font-size: rem(80);
		color: #DB4863;
		line-height: rem(84);
		letter-spacing: rem(-1);
		text-transform: uppercase;
		padding-top: 90px;
		padding-bottom: 84px;
		@media screen and (max-width: 991px) {
			font-size: rem(65);
			padding-bottom: 40px;
		}
		@media screen and (max-width: 768px) {
			font-size: rem(45);
			padding-top: 20px;
		}
		@media screen and (max-width: 550px) {
			font-size: rem(70);
			padding-top: 15px;
			padding-bottom: 10px;
		}
	}
	&__icon {
		width: 96px;
		height: 96px;
		background-repeat: no-repeat;
		cursor: pointer;
		&--play {
			@include absolute-center;
			background-image: url(../images/play-white-icon.svg);
		}
	}
	&__video-title {
		font-size: rem(30);
		color: rgba(#9BD6E0, .6);
		text-transform: uppercase;
		text-align: center;
		text-shadow: 1px 1px 2px rgba(#f7f7f7, .3);
		padding-top: 288px;
		@media screen and (max-width: 550px) {
			padding-top: 293px;
		}
	}
}
